<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Blog List start -->
        <div class="blog-container blogdetail">
          <div class="blog-listing">
        <div class="post-detail">
          <div class="blog-post-heading margin-top30">
            <div >Nom: <span>{{model.nom}}</span>
            </div>
            <div  >Prénom: <span>{{model.prenom}}</span>
            </div>
            <div >Téléphone: <span>{{model.telephone}}</span>
            </div> 
            <div >Email: <span>{{model.email}}</span>
            </div> 
            <div >Sujet: <span>{{model.sujet}}</span>
            </div> 
            <div >Message: <span>{{model.messagee}}</span>
            </div> 
            <a class="btn btn-info" routerLink="/pub"  >Retourner</a> 
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


