<!--Footer start-->
<div class="footer-container ">
  <div class="container ">
    <div class="row ">
      <div class="col-md-4 col-sm-12 col-xs-12 ">
        <div class="footer-logo ">
          <img src="../../assets/images/wob.png ">
        </div>
        <p>Suspendisse bibendum pulvinar tempus. Cras volutpat mattis est sit amet ornare. Quisque pharetra pretium
          lectus eu malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae;
          <a href="# ">Read More</a>
        </p>
        <div class="social-icons ">
          <a href="#. " target="_blank ">
            <i class="fa fa-facebook " aria-hidden="true "></i>
          </a>
          <a href="#. " target="_blank ">
            <i class="fa fa-twitter " aria-hidden="true "></i>
          </a>
          <a href="#. " target="_blank ">
            <i class="fa fa-google-plus " aria-hidden="true "></i>
          </a>
          <a href="#. " target="_blank ">
            <i class="fa fa-linkedin " aria-hidden="true "></i>
          </a>
          <a href="#. " target="_blank ">
            <i class="fa fa-youtube " aria-hidden="true "></i>
          </a>
        </div>

      </div>


      <div class="col-md-3 col-sm-4 col-xs-12 ">
        <h3>Navigation</h3>
        <ul class="footer-blocks width-50 ">
          <li>
            <a href="index-1.html"> Accueil </a>
          </li>
          <li>
            <a href="page-about-me.html"> Le cabinet</a>
          </li>
          <li>
            <a href="page_actualités.html"> Actualités</a>
          </li>
          <li>
            <a href="page-services-2.html"> Nos services </a>
          </li>
          <li>
            <a href="page_publications.html"> Publications </a>
          </li>
          <li>
            <a href="page-contact-us-1.html"> Contact </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12 ">  <!--ajouter .col-md-3={width:25%}-->
        <h3 class="m-t-10 ">Contact</h3>
        <div class="footer-address ">Cabinet Wajdi ABDELHEDI - Résidence LES LILAS, Bloc B, 5ème étage, bureau n°11 Centre Urbain Nord, 1082,
          Tunis
        </div>
        <div class="call-us ">
          <a href="# ">(+216) 71 948 214</a>
          <br>
          <a href="# ">(+216) 71 949 214</a>
        </div>
        <div class="fax ">
          <a href="# ">(+216) 71 948 177</a>
        </div>

      </div>


    </div>
    <div class="col-md-12">
      <div class="newsletter">
        <h2>Inscription Newsletter</h2>
        <p class="heading-description"></p>
        <div class="newsletter-form">
          <form class="home-newsletter" action="#">
            <div class="newsletter-container">
              <i class="fa fa-envelope-o"></i>
              <input type="email" name="email" id="email" placeholder="Entrez votre adresse EMAIL..." required>
              <input type="submit" name="submit" id="submmit" value="S'inscire">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footerWrp ">
      <div class="row ">
        <div class="col-md-6 col-sm-7 ">
          <div class="copyright ">© 2019 WAB expert comptable | All Rights Reserved</div>
        </div>

      </div>
    </div>
  </div>
</div>