                  <div class="main-content">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <!-- Blog List start -->
                    <div class="blog-container blogdetail">
                      <div class="blog-listing">
                    <div class="post-detail">
                      <div class="blog-post-heading margin-top30">
                        <div >Titre: <span>{{model.titre}}</span>
                        </div>
                        <div  >Date: <span>{{model.datee}}</span>
                        </div>
                        <div >Contenu: <span>{{model.contenu}}</span>
                        </div> 
                        <a class="btn btn-info" routerLink="/admin"  >Retourner</a> 
                      </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
     
  