<br>
<br>
<h1 class="wew fadeInUp " data-wew-delay="1s ">Liste des
  <span>Publications</span>
</h1>

<section class="page-section">
  <div class="container margin-b-60">

    <div class="row  margin-t-60 margin-b-60">
      <ng-container *ngFor="let publication of publications">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="icon-box dgn-5">
            <h4>
              <i class="fa fa-folder-o"></i> {{publication.date}}</h4>
            <p>{{publication.description}}
            </p>
            <br>
            <a [routerLink]="publication.id" target="_blank">
              <span class="read-more">charger le PDF
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>

        </div>

        <div *ngIf="publication.verif">

          <hr width="90%" color="midnightblue" size="3" style="margin-left:50px">
        </div>
      </ng-container>
    </div>


  </div>
</section>