<!--inner header start-->
<div class="main-heading" style="background-image: url(../../assets/images/wabimages/actualites1.jpg);background-repeat: no-repeat; width: 100%; ">
    <div class="container">
        <h3>Actualités</h3>
    </div>
</div>

<!--inner content start-->
<div class="main-content">
    <div class="container">

        <!-- Blog List start -->
        <div class="blog-container">
            <ul class="row blog-grid-show">
                <li class="col-md-4 col-sm-6">
                    <div class="blog-inter">
                        <div class="postimg"> <img class="actual" src="../../assets/images/1.jpg" alt="Blog Title"></div>
                        <div class="post-grid-desc">
                            <div class="blog-post-heading">
                                <h4><a routerLink="actualite1" >Ce qui reste pour la loi sur les startups</a></h4>
                                <div class="post-info-meta">Date: <span>10/05/2015</span></div>
                            </div>
                            <div class="post-info-meta">
                                <p>Ce qui reste pour la loi sur les startups...</p>
                                <a routerLink="actualite1" class="btn-style-1 size-small light-skin uppercase corner-rounded">Suite</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="blog-inter">
                        <div class="postimg"> <img class="actual" src="../../assets/images/2.jpg" alt="Blog Title"></div>
                        <div class="post-grid-desc">
                            <div class="blog-post-heading">
                                <h4><a href="#">Dispositions fiscales prévues suite à la promulgation de la loi de finances pour la gestion 2018</a></h4>
                                <div class="post-info-meta">Date: <span>27/12/2017</span></div>
                            </div>
                            <div class="post-info-meta">
                                <p>Dispositions fiscales prévues suite à la promulgation de la loi de finances pour la gestion 2018...</p>
                                <a href="#" class="btn-style-1 size-small light-skin uppercase corner-rounded">Suite</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="blog-inter">
                        <div class="postimg"> <img class="actual" src="../../assets/images/3.jpg" alt="Blog Title"></div>
                        <div class="post-grid-desc">
                            <div class="blog-post-heading">
                                <h4><a href="#">PRINCIPALES DISPOSITIONS PRÉVUES PAR LA LOI DE FINANCES POUR LA GESTION 2015</a></h4>
                                <div class="post-info-meta">Date: <span>08/01/2015</span> </div>
                            </div>
                            <div class="post-info-meta">
                                <p>La loi n° 2014 - 59 du 26 décembre 2014, portant loi de finances pour l'année 2015, a prévu les principales dispositions suivantes ...</p>
                                <a href="#" class="btn-style-1 size-small light-skin uppercase corner-rounded">Suite</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="blog-inter">
                        <div class="postimg"> <img class="actual" src="../../assets/images/aboutme.jpg" alt="Blog Title"></div>
                        <div class="post-grid-desc">
                            <div class="blog-post-heading">
                                <h4><a href="#">Morbi in diam eu augue ullamcorper</a></h4>
                                <div class="post-info-meta">Date: <span>7 Aug</span></div>
                            </div>
                            <div class="post-info-meta">
                                <p>Suspendisse at felis turpis. Sed vitae ultricies nulla. Pellentesque est nisl, imperdiet vulputate...</p>
                                <a href="#" class="btn-style-1 size-small light-skin uppercase corner-rounded">Suite</a>
                            </div>
                        </div>
                    </div>
                </li>





            </ul>

            <!-- Pagination -->
            <div class="pagination-container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="showreslt">Showing 1-10</div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--inner content end-->