<!--inner header start-->
<div class="main-heading" style="background-image: url(../../assets/images/wabimages/actualites1.jpg);background-repeat: no-repeat; width: 100%; ">
    <div class="container">
        <h3>Actualités</h3>
    </div>
</div>

<!--inner content start-->
<div class="main-content">
    <div class="container">

        <!-- Blog List start -->
        <div class="blog-container">
            <ul class="row blog-grid-show">
                <li class="col-md-4 col-sm-6" *ngFor="let actualite of actualites">
                    <div class="blog-inter">
                        <div class="postimg"> <img class="actual" src="../../assets/images/1.jpg" alt="Blog Title"></div>
                        <div class="post-grid-desc">
                            <div class="blog-post-heading">
                                <h4><a [routerLink]="actualite.id" >{{actualite.titre}}</a></h4>
                                <div class="post-info-meta">Date: <span>{{actualite.datee}}</span></div>
                            </div>
                            <div class="post-info-meta">
                                <p>{{actualite.titre}}</p>
                                <a [routerLink]="actualite.id" class="btn-style-1 size-small light-skin uppercase corner-rounded">Suite</a>
                            </div>
                        </div>
                    </div>
                </li>
                            </ul>

            <!-- Pagination -->
        <!--   <div class="pagination-container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="showreslt">Showing 1-10</div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                        </ul>
                    </div>
                </div>
            </div>-->
        </div>

    </div>
</div>
<!--inner content end-->