<!--inner header start
<div class="main-heading">
    <div class="container">
        <h3>Icon Boxs</h3>
    </div>
</div>
inner header end-->
<br>
<br>
<h1 class="wew fadeInUp " data-wew-delay="1s ">
  <span>Boite De Reception</span>
</h1>

<!----------------   Affichage Historique commence ici   --------------->
<div id="liste" *ngIf="!formOnOff">
  <table class="table table-bordered table-hover" >

    <tr class="active ">
      <th >nom</th>
      <th >prenom</th>
      <th >telephone</th>
      <th >email</th>
      <th >sujet</th>
      <th >message</th>
      <th >action</th>
    </tr>
    <tr *ngFor="let message of messages">
      <td>{{message.id}}</td>
      <td>{{message.prenom}}</td>
      <td>{{message.telephone}}</td>
      <td>{{message.email}}</td>
      <td>{{message.sujet}}</td>
      <td>{{message.messagee}}</td>
      <td width=275> 
          <a class="btn btn-info"  >Detail</a>  
      </td>
    </tr>

  </table>
</div>
<!----------------   fin Tableau   --------------->
