<!--inner header start
<div class="main-heading">
    <div class="container">
        <h3>Icon Boxs</h3>
    </div>
</div>
inner header end-->
<br>
<br>
<h1 class="wew fadeInUp " data-wew-delay="1s ">
  <span>Modifier Publications</span>
</h1>


<div>
  <ul class="nav nav-tabs">
    <li id="button1"><a (click)="formOff()"><strong>Liste publications</strong></a></li>
    <li id="button2"><a (click)="formOn()"><strong>Ajouter publication</strong></a></li>
  </ul>
</div>
<!----------------   Affichage Historique commence ici   --------------->
<div id="liste" *ngIf="!formOnOff">
  <table class="table table-bordered table-hover" >

    <tr class="active ">
      <th >Id publication</th>
      <th >titre </th>
      <th >Date d'admission</th>
      <th >fichier</th>
      <th >action</th>
    </tr>

    <tr *ngFor="let publication of publications">
      <td>{{publication.id}}</td>
      <td>{{publication.titre}}</td>
      <td>{{publication.date}}</td>
      <td>{{publication.lien}}</td>
      <td width=275> 
          <a class="btn btn-info"  >Detail</a> 
          <a class="btn btn-success" routerLink="/publication/{{publication.id}}"  >Edit</a>
          <a class="btn btn-danger" (click)="supprimerPublication(publication.id)" >Delete</a >
      </td>
    </tr>
  </table>
</div>
<!----------------   fin Tableau   --------------->

<!----------------   Formulaire Ajout actualité commence ici  --------------->
<div id="Form" *ngIf="formOnOff"  >
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal"   (submit)="ajouterPublication()">

        <div class="form-group">
          <label  class="col-sm-4 control-label">titre</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="titre" placeholder="titre" [(ngModel)]="model.titre"   required>
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-4 control-label">Date d'admission</label>
          <div class="col-sm-4">
            <input type="date" class="form-control" name="date" placeholder="Date d'admission" [(ngModel)]="model.datee"   required>
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-4 control-label">fichier</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="lien" placeholder="urll" [(ngModel)]="model.lien"   required>
          </div>
        </div>

  
      

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-10">
            <button type="submit" name="ok" class="btn btn-primary">Ajouter publication</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!----------------   fin Formulaire   --------------->
