<div class="flexslider">
    
    <ul class="slides">

        <li style="background-image:url(../../assets/images/slider/s1.jpg);">
            <div class="overlay"></div>

            <div class="meta">
                <h1><span>WAB- expert comptables </span></h1>
                <h2><span> </span></h2>
                <div class="local-scroll p-t-60">
                    <a href="#" class="btn-style-6 size-small dark-skin corner-off-rounded">Plus</a>
                    <a href="#" class="btn-style-6 size-small dark-skin corner-off-rounded">Nous contacter</a>
                </div>
            </div>
        </li>
        <li style="background-image:url(../../assets/images/slider/s2.jpg);">

            <div class="overlay"></div>
            <div class="meta">
                <h1><span>Tous vos services</span></h1>
                <h2><span></span></h2>
                <div class="local-scroll p-t-60">
                    <a href="#" class="btn-style-6 size-small dark-skin corner-off-rounded">Plus</a>
                    <a href="#" class="btn-style-6 size-small dark-skin corner-off-rounded">Nous contacter</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<section class="about-container">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="wew fadeInUp" data-wew-delay="1s">LE
          <span>CABINET</span>
        </h1>
        <div class="about-section wew fadeInUp" data-wew-delay="1s"></div>
        <p class="m-t-30 wew fadeInUp" data-wew-delay="1s">De l'établissement des états financiers au conseil en matière de gestion, de droit des affaires, de droit social,
          ou encore de conseil à l'export, l'Expert-comptable est le conseil permanent du chef d'entreprise. Il apporte également
          une réponse ponctuelle et adaptée aux différents évènements de la vie de l'entreprise. Nous sommes dédiés au Service
          et au Conseil auprès des entreprises. Notre effectif est spécialisé afin d'offrir un niveau de qualité maximum
          dans nos différents domaines d'intervention.
          <br>
        </p>
        <blockquote class="aboutme" style="direction: rtl; font-size: 12px;font-weight: bold;color: rgba(64, 64, 64, 1); font-style: italic;">
          Wajdi ABDELHEDI
          <br> Expert Comptable
          <br> Membre de l’Ordre des Experts Comptables de Tunisie</blockquote>

        <h3 class="m-b-50"></h3>



      </div>
      <div class="col-md-5">
        <div class="wew fadeInRightBig">
          <img src="../../assets/images/aboutme1.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blog" class="service-container">
    <div class="container">
    <div class="row p-b-60">
            <div class="col-md-8 col-xs-12 col-md-offset-2">
                <h1>NOS ACTUALITES</h1>
                <p class="text-center"></p>
            </div>
        </div>
        <!-- Blog List start -->
        <div class="blog-container">
            <ul class="row blog-grid-show">
                <li class="col-md-4 col-sm-6">
                    <div class="blog-inter">
                        <div class="postimg"> <img class="actual" src="../../assets/images/1.jpg" alt="Blog Title"></div>
                        <div class="post-grid-desc">
                            <div class="blog-post-heading">
                                <h4><a href="#">Ce qui reste pour la loi sur les startups</a></h4>
                                <div class="post-info-meta">Date: <span>10/05/2015</span> </div>
                            </div>
                            <div class="post-info-meta">
                                <p>Ce qui reste pour la loi sur les startups...</p>
                                <a href="blog-details-full-width.html" class="btn-style-1 size-small light-skin uppercase corner-rounded">Suite</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="blog-inter">
                        <div class="postimg"> <img class="actual" src="../../assets/images/2.jpg" alt="Blog Title"></div>
                        <div class="post-grid-desc">
                            <div class="blog-post-heading">
                                <h4><a href="#">Dispositions fiscales prévues suite à la promulgation de la loi de finances pour la gestion 2018</a></h4>
                                <div class="post-info-meta">Date: <span>27/12/2017</span></div>
                            </div>
                            <div class="post-info-meta">
                                <p>Dispositions fiscales prévues suite à la promulgation de la loi de finances pour la gestion 2018...</p>
                                <a href="#" class="btn-style-1 size-small light-skin uppercase corner-rounded">Suite</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="blog-inter">
                        <div class="postimg"> <img class="actual" src="../../assets/images/3.jpg" alt="Blog Title"></div>
                        <div class="post-grid-desc">
                            <div class="blog-post-heading">
                                <h4><a href="#">PRINCIPALES DISPOSITIONS PRÉVUES PAR LA LOI DE FINANCES POUR LA GESTION 2015</a></h4>
                                <div class="post-info-meta">Date: <span>08/01/2015</span> </div>
                            </div>
                            <div class="post-info-meta">
                                <p>La loi n° 2014 - 59 du 26 décembre 2014, portant loi de finances pour l'année 2015, a prévu les principales dispositions suivantes ...</p>
                                <a href="#" class="btn-style-1 size-small light-skin uppercase corner-rounded">Suite</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>


        </div>


    </div>
</section>

<h1 class="wew fadeInUp " data-wew-delay="1s ">Liste des
    <span>Publications</span>
</h1>

<section class="page-section">
    <div class="container margin-b-60">

        <div class="row  margin-t-60 margin-b-60">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="icon-box dgn-5">
                    <h4>
                        <i class="fa fa-folder-o"></i> 25/12/2017</h4>
                    <p>Dispositions fiscales prévues suite à la promulgation de la loi de finances pour la gestion 2018
                    </p>
                    <br>
                    <a href="Publications/PDF1.pdf" target="_blank">
                        <span class="read-more">charger le PDF
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="icon-box dgn-5">
                    <h4>
                        <i class="fa fa-folder-o"></i> 25/04/2017</h4>
                    <p>Nouvelles incitations fiscales et financières en Tunisie
                    </p>
                    <br>
                    <br>
                    <a href="#">
                        <span class="read-more">charger le PDF
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="icon-box dgn-5">
                    <h4>
                        <i class="fa fa-folder-o"></i>29/12/2016</h4>
                    <p>Incidences fiscales de la LF2017 sur les PP et les PM en Tunisie
                    </p>
                    <br>
                    <br>
                    <a href="#">
                        <span class="read-more">charger le PDF
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="icon-box dgn-5">
                    <h4>
                        <i class="fa fa-folder-o"></i> 20/08/2013</h4>
                    <p>Choix de la forme juridique de l'entreprise
                    </p>
                    <br>
                    <br>
                    <a href="#">
                        <span class="read-more">charger le PDF
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>

            </div>
            <hr width="90%" color="midnightblue" size="3" style="margin-left:50px">
        </div>
       
    </div>
</section>


<section id="contact" class="page-section main-content">
    <div class="container">
       
        <h1 class="wew fadeInUp" data-wew-delay="1s">NOUS
        <span>CONTACTER</span>
    </h1>
</div>
    <div class="container">

        <div class="contact-wrap">
            <div class="row">
                <div class="col-md-4 column">
                    <div class="contact-now">
                        <div class="contact">
                            <div class="information">
                                <strong>Adresse:</strong>
                                <p>Cabinet Wajdi ABDELHEDI - Résidence LES LILAS, Bloc B, 5ème étage, bureau n°11 Centre
                                    Urbain Nord, 1082, Tunis</p>
                            </div>
                        </div>

                        <!-- Contact Info -->
                        <div class="contact">
                            <div class="information">
                                <strong>adresse email:</strong>
                                <p>contact@wab-expert.com</p>

                            </div>
                        </div>
                        <!-- Contact Info -->
                        <div class="contact">
                            <div class="information">
                                <strong>telephone</strong>
                                <p>(+216) 71 948 214 </p>
                                <p>(+216) 71 949 214</p>
                            </div>
                        </div>
                        <div class="contact">
                            <div class="information">
                                <strong>Fax</strong>
                                <p>(+216) 71 948 177</p>
                            </div>
                        </div>
                        <div class="contact">
                            <div class="information">
                                <strong>Réseaux sociaux</strong>
                                <br>
                                <a href="https://www.facebook.com/wabexpert" class="btn-floating btn-large btn-fb" style="padding:10px;color:#434c9a" target="_blank ">
                                    <i class="fa fa-facebook fa-2x"></i>
                                </a>
                                <a href="https://twitter.com/WajdiABDELHEDI" class="btn-floating btn-large btn-tw" style="padding:10px;color:#434c9a" target="_blank ">
                                    <i class="fa fa-twitter fa-2x"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/wajdi-abdelhedi-178148a" class="btn-floating btn-large btn-li" style="padding:10px;color:#434c9a"
                                    target="_blank ">
                                    <i class="fa fa-linkedin fa-2x"></i>
                                </a>
                                <a href="#" class="btn-floating btn-large btn-email" style="padding:10px;color:#434c9a" target="_blank ">
                                    <i class="fa fa-envelope fa-2x"></i>

                                </a>
                            </div>
                        </div>
                        <!-- Contact Info -->
                    </div>
                    <!-- Contact Now -->
                </div>


                <div class="col-md-8 column">
                    <div class="contact-form">
                        <div class="container">
                            <h3 style="padding-left:50px;padding-top:30px" class="wew fadeInUp" data-wew-delay="1s">
                                Exprimez-vous ..
                            </h3>
                            <form class="form contact-form" id="contact_form" method="post" action="http://hi-theme.com//html/big-construct/action.php"
                                style="padding-top:40px">

                                <table border="0" style="width:100% ">
                                    <tr>
                                        <td style="text-align:center">
                                            <label for="fname">Prénom</label>
                                        </td>
                                        <td>
                                            <input type="text" id="fname" name="firstname" placeholder="Prénom" style="width: 50%;padding: 12px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;margin-top: 6px;margin-bottom: 16px;resize: vertical">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">
                                            <label for="lname">Nom</label>
                                        </td>
                                        <td>
                                            <input type="text" id="lname" name="lastname" placeholder="Nom" style="width: 50%;padding: 12px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;margin-top: 6px;margin-bottom: 16px;resize: vertical">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">
                                            <label for="phone">téléphone</label>
                                        </td>
                                        <td>
                                            <input type="text" id="phone" name="phone" placeholder="+216 xx xxx xxx" style="width: 50%;padding: 12px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;margin-top: 6px;margin-bottom: 16px;resize: vertical">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">
                                            <label for="subject">sujet</label>
                                        </td>
                                        <td>
                                            <input type="text" id="subject" name="subject" placeholder="Sujet" style="width: 50%;padding: 12px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;margin-top: 6px;margin-bottom: 16px;resize: vertical">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">
                                            <label for="message">message</label>
                                        </td>
                                        <td>
                                            <textarea id="message" name="message" placeholder="Exprimez-vous.." style="height:200px;width: 50%;padding: 12px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;margin-top: 6px;margin-bottom: 16px;resize: vertical"></textarea>
                                        </td>
                                    </tr>
                                </table>
                                <div style="margin : 0 auto; width : 325px ; ">
                                    <input type=" submit " value="Envoyer " onmouseover="this.style.background='#9d9c9c';;this.style.color='#ffffff';" onmouseout="this.style.background='#434c9a';this.style.color='#ffffff';"
                                        style="text-align:center;background-color: #434c9a;color: white;padding: 12px 20px;border: none;border-radius: 4px;cursor: pointer;">
                                    <!--  <br>
                                    <br>
                                    <br>
                                    <a href="#" class="btn-floating btn-large btn-fb" style="padding:10px;color:#434c9a">
                                        <i class="fa fa-facebook fa-2x"></i>
                                    </a>
                                    <a href="#" class="btn-floating btn-large btn-tw" style="padding:10px;color:#434c9a">
                                        <i class="fa fa-twitter fa-2x"></i>
                                    </a>
                                    <a href="#" class="btn-floating btn-large btn-li" style="padding:10px;color:#434c9a">
                                        <i class="fa fa-linkedin fa-2x"></i>
                                    </a>
                                    <a href="#" class="btn-floating btn-large btn-email" style="padding:10px;color:#434c9a">
                                        <i class="fa fa-envelope fa-2x"></i>
                                    </a>-->
                                </div>



                            </form>

                        </div>

                    </div>

                </div>



            </div>

        </div>
        
    </div>
</section>
 <div class="map ">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.786064919157!2d10.19549771531439!3d36.84759937272966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34c602c55555%3A0x4848f65786461813!2sR%C3%A9sidence+les+Lilas!5e0!3m2!1sfr!2stn!4v1545063939819"
                width="100% " height="400 " frameborder="0 " style="border:0 " allowfullscreen></iframe>
        </div>
     
































